<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="doctors">
      <ion-icon name="medkit-outline"></ion-icon>
      <ion-label>Dokter</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="appointments">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Booking</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="queue">
      <ion-icon name="ticket-outline"></ion-icon>
      <ion-label>Antrean</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="history">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Riwayat</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
